div.wrapper.list {
  &:hover {
    cursor: pointer;
  }
}

div.flex-wrapper {
  display: flex;
  flex: 10;
  gap: 1rem;
  transition: all 0.5s ease;

  & > figure {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;

    & > img {
      width: 5rem;
    }
  }

  & > div.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  & > div {
    flex: 8;
  }
}

p.profit {
  color: green;
  filter: brightness(2);
}

div.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & + div.flex {
    margin-top: 1rem;
  }
}

form {
  margin: 1rem;
  & > div.item-info {
    display: flex;
    justify-content: space-between;

    & > * {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: 100%;
    }

    & > figure {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10rem;

      & > img {
        filter: drop-shadow(0.5rem 0.5rem 0.25rem #000);
        width: 10rem;
      }
    }
  }

  & > p {
    margin-top: 1rem;
  }

  & > input {
    display: block;
    line-height: 1.5;
    width: 10rem;
    text-align: end;
  }

  & > div.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }
}
