div.container {
  & figure {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      display: block;
      max-width: 320px;
      min-width: 80px;
      margin: 0 auto;
      filter: drop-shadow(1rem 2rem 0.5rem black);
      transition: filter 0.1s ease-out;

      &:hover {
        cursor: grab;
        filter: brightness(0.9) drop-shadow(0.75rem 1.5rem 0.25rem black);
      }

      &.mouse-down {
        cursor: grabbing;
        filter: brightness(0.8) drop-shadow(0.25rem 0.5rem 0rem black);
      }
    }
  }
}
